-f https://data.pyg.org/whl/torch-1.9.0+cu111.html
torch==1.9.0
-f https://data.pyg.org/whl/torch-1.9.0+cu111.html
torchvision==0.10.0
tensorboard==2.2.2
matplotlib==3.3.0
opencv-python==4.2.0.32
pycuda==2019.1.2
numba==0.50.0
numpy>=1.22
scikit-image==0.16.2
